@import '../../variables';
@import '../../mixins';

// Hero Section
.heroContainer {
  padding: 7em 0 0 0;
}
.heroContent {
  @include flexRegular(row, flex-start);
  align-items: flex-start;
  width: 98%;
  margin: auto;
  .heroIntro {
    @include flexRegular(column, flex-start);
    align-items: center;
    width: 60%;
    //background: pink;
    padding: 4em 0 0 0;
    //position: relative;
    h1 {
      font-weight: 600;
      font-size: 58px;
      font-family: 'Montserrat';
      span {
        color: #20709b;
      }
    }
    p {
      margin: 2em 0;
      width: 74%;
      font-family: 'Space Grotesk';
      line-height: 24px;
      color: #4e4b66;
      font-weight: lighter;
    }
    .heroBtns {
      width: 100%;
      //background: skyblue;
      margin-top: 3em;
      position: relative;
      z-index: 1;
      .btnFill {
        @include buttonRegular(none, 16vw, 50px);
        max-width: 261px;
        border: 2px solid $blueMain;
        color: $blueMain;

        &:hover {
          background: $blueMain;
          color: #fff;
        }
      }
      .btnOutline {
        @include buttonRegular($blueMain, 16vw, 50px);
        max-width: 261px;
        color: #fff;
        margin-right: 3em;
        &:hover {
          background: #2b96cf;
        }
      }
    }
    .shapeBox1 {
      img {
        position: absolute;
        left: -250px;
        top: 66vh;
        width: 40%;
        max-width: 500px;
      }
    }
  }
  .heroImgBox {
    @include flexRegular(column, flex-start);
    width: 40%;
    padding: 3.5em 0 0 0;
    //background: cornsilk;
    align-items: flex-end;
    //position: relative;
    .salyBox {
      img {
        width: 100%;
      }
    }
    .shape2 {
      margin-top: 6em;
    }
  }
}
@media (max-width: 820px) {
  .heroContent {
    @include flexRegular(column-reverse, flex-start);
    .heroImgBox {
      @include flexRegular(column, flex-start);
      width: 100%;
      padding: 1.5em 0 0 0;
      align-items: center;
      //background: pink;
      .salyBox {
        img {
          width: 100%;
        }
      }
      .shape2 {
        display: none;
      }
    }
    .heroIntro {
      width: 100%;
      //background: lavender;
      margin-top: 1em;
      p {
        font-size: 1.2em;
        line-height: 34px;
        width: 90%;
      }
      .heroBtns {
        @include flexRegular(column, flex-start);
        .btnFill {
          @include buttonRegular(none, 90vw, 70px);
          max-width: 561px;
          border: 2px solid $blueMain;
          font-size: 1.15em;
        }
        .btnOutline {
          @include buttonRegular($blueMain, 90vw, 70px);
          max-width: 561px;
          margin-right: 0;
          margin-bottom: 1em;
          font-size: 1.15em;
        }
      }
      .shapeBox1 {
        img {
          position: absolute;
          left: -300px;
          top: 90vh;
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .heroContent {
    .heroImgBox {
      .salyBox {
        img {
          width: 95%;
        }
      }
    }
    .heroIntro {
      h1 {
        font-size: 2.5em;
      }
      p {
        font-size: 1em;
        line-height: 30px;
      }
      .heroBtns {
        .btnFill,
        .btnOutline {
          height: 60px;
          font-size: 1em;
        }
      }
      .shapeBox1 {
        img {
          width: 80%;
          position: absolute;
          left: -200px;
          top: 95vh;
        }
      }
    }
  }
}
// Hero Section end

// Steps Section
.stepsContainer {
  margin: 9em 0 3em 0;
}
.stepsContent {
  h2 {
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 2em;
    padding-left: 0.5em;
  }
  .stepBox {
    position: relative;
    background: #fffef9;
    //background: #e4c944;
    box-shadow: 0px 20px 24px rgba(17, 17, 17, 0.06);
    border-radius: 12px;
    padding: 2.5em 2em;
    margin: 2em 0 7em 0;
    @include flexRegular(row, flex-start);
    align-items: center;
    .stepImg,
    .stepTxt {
      margin-right: 1.5em;
    }
    .stepTxt {
      h3 {
        font-family: 'Montserrat';
        font-weight: 600;
      }
      p {
        font-weight: lighter;
        width: 95%;
        font-size: 0.9em;
        margin-top: 1em;
      }
      ul {
        padding-left: 2em;
        font-weight: lighter;
        width: 100%;
        font-size: 0.9em;
        margin-top: 1em;
        //background: pink;
        //list-style-type: decimal;
      }
    }
    .stepCard {
      bottom: -90px;
      position: absolute;
      right: 5px;
      //background: lavender;
      padding-right: 2em;
      img {
        filter: drop-shadow(0px 32px 64px rgba(17, 17, 17, 0.08));
        border-radius: 8px;
        // width: 395px;
        // height: 221px;
        width: 330px;
        height: 221px;
      }
    }
  }
  .stepCardM {
    display: none;
  }
}
@media (max-width: 1080px) {
  .stepsContent {
    .stepBox {
      .stepTxt {
        p {
          width: 65%;
        }
        ul {
          width: 65%;
        }
      }
    }
  }
}
@media (max-width: 815px) {
  .stepsContent {
    h2 {
      text-align: center;
    }
    .stepBox {
      width: 95%;
      margin: 0 auto 7.5em auto;
      padding: 2.5em 1em;
      .stepImg {
        img {
          width: 44px;
          height: 44px;
        }
      }
      .stepTxt {
        p,
        ul {
          padding-left: 0;
          width: 100%;
        }
      }
      .stepCard {
        display: none;
        // top: 120%;
        // //background: coral;
        // width: 100%;
        // @include flexRegular(row, center);
      }
    }
    .stepCardM {
      display: block;
      position: relative;
      //position: absolute;
      z-index: 1;
      width: 100%;
      //background: rgb(159, 159, 207);
      @include flexRegular(row, center);
      align-items: center;
      margin-top: -130px;
      margin-bottom: 2em;
      img {
        width: 70%;
        filter: drop-shadow(0px 32px 64px rgba(17, 17, 17, 0.08));
        border-radius: 8px;
      }
    }
  }
}
// Steps Section end

// Mini Hero Section
.mHeroContainer {
  margin: 20em 0 5em 0;
  padding: 1em;
}
.mHeroContent {
  position: relative;
  padding: 1em 0;
  max-width: 1100px;
  //background: pink;
  margin: auto;
  .mStar {
    position: absolute;
    left: 0;
    top: -110px;
    width: 133px;
  }
  .mHeroTxt {
    @include flexRegular(column, center);
    //background: cornsilk;
    font-family: 'Montserrat';
    text-align: center;
    h2 {
      font-size: 2.18em;
      font-weight: 600;
      line-height: 37px;
      span {
        color: $blueMain;
      }
    }
    button {
      margin: 2.5em 0;
      @include buttonRegular($blueMain, 18vw, 50px);
      max-width: 270px;
      color: #fff;
      &:hover {
        background: #2b96cf;
      }
    }
  }
  .mRocket {
    position: absolute;
    right: 180px;
    top: -85px;
    width: 170px;
  }
}
@media (max-width: 1080px) {
  .mHeroContent {
    .mRocket {
      top: -120px;
      right: 10px;
    }
    .mHeroTxt {
      button {
        width: 60vw;
      }
    }
  }
}
@media (max-width: 820px) {
  .mHeroContent {
    width: 90%;
    .mStar,
    .mRocket {
      width: 93px;
    }
  }
}
@media (max-width: 420px) {
  .mHeroContent {
    .mStar {
      width: 73px;
    }
    .mHeroTxt {
      h2 {
        font-size: 1.8em;
      }
    }
  }
}
