@import '../../variables';
@import '../../mixins';

.footerContainer {
  padding: 1em;
}

.footerContentM {
  display: none;
  background: none;
}

.footerContent {
  @include flexRegular(row, space-between);

  .footLogo {
    width: 25%;
    //background: pink;
  }

  .footLinks {
    @include flexRegular(row, space-between);
    //background: pink;
    width: 40%;
    font-size: 0.9em;
  }

  .footIcons {
    width: 25%;
    //background: pink;
    @include flexRegular(row, flex-end);

    img {
      margin-right: 1em;
    }

    .nu-icons {
      margin-top: -5px;
    }
  }
}

@media (max-width: 770px) {
  .footerContent {
    display: none;
  }

  .footerContentM {
    display: block;
    @include flexRegular(row, space-between);

    .footLeftM {
      width: 55%;
      //background: pink;
      @include flexRegular(column, flex-start);
      align-items: flex-start;
      padding-left: 2em;

      .footLogoM {
        img {
          width: 95px;
        }
      }

      .footIconsM {
        margin-top: 3em;
        @include flexRegular(row, flex-start);
        align-items: center;
        //background: cornsilk;

        img {
          margin-right: 1em;
          //width: 11px;
          //background: red;
          height: 100%;
          //width: 100%;
        }

        .nu-icons {
          margin-top: -6px;
        }
      }
    }

    .footRightM {
      width: 35%;
      //background: pink;
      padding-left: 2em;
      @include flexRegular(column, space-between);
      align-items: flex-start;

      li:nth-of-type(1),
      li:nth-of-type(2) {
        margin-bottom: 1.1em;
      }

      p {
        font-weight: lighter;
      }
    }
  }
}

@media (max-width: 420px) {
  .footerContentM {

    .footLeftM,
    .footRightM {
      padding-left: 0;
    }
  }
}