@mixin flexRegular($direction, $space) {
  display: flex;
  justify-content: $space;
  align-items: center;
  flex-direction: $direction;
  transition: 0.3s ease-in;
}
@mixin gridRegular($gap) {
  display: grid;
  gap: $gap;
}
@mixin buttonRegular($buttonBack, $width, $height) {
  transition: 0.4s ease-in;
  background: $buttonBack;
  border-radius: 80px;
  box-sizing: border-box;
  width: $width;
  height: $height;
  outline: none;
  border: 0;
}
@mixin transitionRegular() {
  transition: 0.4s ease-in-out;
}
// @mixin responsiveIpad() {
//   @media (max-width: 1080px) {

//   }
//   transition: 0.4s ease-in-out;
// }
